/***********************************
Chips!
***********************************/
.chip {
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 5px;
  margin-bottom: 5px;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.attendance-name-span {
	font-size: 12pt;
}

.attendance-notes {
	/*width:100%;*/
	display: inline-block;
	padding-left: 10px;
}

/*.attendance-notes > .input-group {
	margin-top: 5px;
}*/

.attendance-list-item {
	padding: 0px;
	padding-top: 10px;
}