/****************
  Navigation
****************/
.sidebar {
  top: 0px;
}

.student-name {
  font-size: 14pt;
}

.admin-only {
  /*display: none;*/
}

main {
  display: none;
}

.Present {
  color: #30A64A;
}

.Late {
  color: #FEC02F;
}

.Absent {
  color: #DA3849;
}

.Not-Taken {
  color: #6D757D;
}

.day-button svg {
  width: 35px;
  height: 35px;
}

.logout {
  position: absolute;
  bottom: 10px;
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}